.container {
    display: grid;
    justify-content: center;
    margin-top: auto;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2rem;
    box-sizing: border-box;

}

.button {
    background-color: #0099ff;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.weather {
    background-color: aquamarine;
    border-radius: 2rem;
}

h2 {
    text-align: center;
}

.list{
    list-style: none;
}

.button:hover {
    background-color: #0692ef;
  }